.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 90px; /* Set maximum width */
  height: auto;
  margin-right: 10px;
  margin-left: 30px;
  animation: logoAnimation 1s ease-in-out infinite;
}

@keyframes logoAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.header {
  background: linear-gradient(to right, #000000, #043557); /* Black gradient background */
  width: 100%
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px; /* Reduced gap */
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 1rem; /* Adjusted font size */
}

.header li a {
  color: white;
  text-decoration: none;
}

.header li a:hover {
  color: cyan;
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
