/* Updated CSS */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.column {
  flex: 1;
  margin-bottom: 20px;
}

.aboutUs h4,
.contact h4,
.privacyTerms h4,
.partnerships h4 {
  color: aqua;
}

.copyrightBox {
  width: 100%; /* Occupy full width in the second row */
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid aqua;
  border-radius: 5px;
}

.link {
  color: aqua;
  text-decoration: underline;
}

.separator {
  margin: 0 5px;
}
