/* footer.module.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box for all elements */
* {
  box-sizing: border-box;
}

/* Footer styles */
footer {
  background-color: var(--footer-background);
  padding: 20px;
  text-align: center;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text-color);
}

.privacyTerms, .contactInfo, .madeBy {
  margin-bottom: 15px;
}

.link {
  color: var(--qwik-light-blue);
  text-decoration: none;
}

.separator {
  margin: 0 10px;
  color: var(--qwik-dirty-black);
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  .privacyTerms, .contactInfo, .madeBy {
    margin-bottom: 10px;
  }
}

/* Additional styles from global.css */
/* Apply global link styles to footer links */
a {
  text-decoration: none;
  color: var(--qwik-light-blue);
}

a:hover {
  text-decoration: underline;
  color: var(--qwik-light-blue);
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

/* Apply global heading styles to footer headings */
h1,
h2,
h3 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}
